<article class="h-entry" id="post-{{ date | date: dates.iso8601 }}">
  <div class="e-content">
    <figure>
      <img src="{{ data.imageUrl }}" alt="{{ data.imageAlt }}" aria-details="post-{{ date | date: dates.iso8601 }}" class="u-photo">
    </figure>

    <div id="post-{{ date | date: dates.iso8601 }}">{{ content }}</div>
  </div>

  <hr>

  <footer>
    <p><small><a href="{{ data.canonicalUrl }}" rel="canonical" class="p-name u-uid u-url">{{ data.title }}</a> was published on <time class="dt-published" datetime="{{ date | date }}">{{ date | date: dates.display }}</time>.</small></p>
  </footer>
</article>
